@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply leading-7;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
  h1 {
    @apply text-3xl mb-10 text-center;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
  p {
    @apply my-5;
  }
  a {
    @apply text-blue-900;
  }
  li a:hover {
    @apply text-red-800 transition-colors duration-500;
  }
  label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }
  input,
  textarea {
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight;
    @apply focus:outline-none;
    @apply focus:bg-white;
  }
  select {
    @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight;
    @apply focus:outline-none;
    @apply focus:bg-white;
    @apply focus:border-gray-500;
  }
}

@layer components {
  .toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
  }
}
